/* @import "nullstyl.scss" */

.wrapper{
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 50px;
}
.wrapper_2{
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 50px;
}
header {
    padding: 40px calc(20% - 500px);
    background-color: rgb(67, 129, 184);
    display: flex;
    align-items: left;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header>b {
    font-size: 2.8em;
    background-color: rgb(67, 129, 184);
    color: #fff;
    margin: 20px 20px 20px;
}
header>img {
    margin: 2px 8px 2px;
}
.btn:hover, .btn:focus {
    border-radius: 0.1em;
    margin-left: auto;
    font-size: 43px;
    width: 210px;
    height: 65px;
    background-color: rgb(67, 129, 184);
    color: #fff;
    border: 3px solid #fff;
    outline: 0;
  }
  
  .first {
    border-radius: 0.1em;
    margin-left: auto;
    border: 3px solid #fff;
    background-color: rgb(67, 129, 184);
    color: #fff;
    font-size: 43px;
    width: 210px;
    height: 65px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    border-radius: 0.1em;
    box-shadow: 0 0 40px 40px  #e8e8e8 inset;
    color: rgb(56, 56, 56);
    border: 3px solid rgb(67, 129, 184);
  }
/* main {
    padding: 50px calc(50% - 600px);
} */
body{
    font-family: Helvetica, sans-serif;
    background-color: #e8e8e8;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    font-weight:650;
    color: rgb(56, 56, 56);
    text-align:left;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    font-weight:550;
    color: rgb(56, 56, 56);
    text-align:left;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70%;
    font-weight:500;
    color: rgb(56, 56, 56);
    text-align:left;
    margin: 0px 40px 0px;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    font-weight:450;
    color: rgb(56, 56, 56);
    text-align:left;
  }
.block{

}
.block_row{
    display:flex;
    align-items: flex-start;
    border: 0px solid#e8e8e8;
    margin: 0px 0px 20px 0px;
}
.block_double{
    border: 0px solid#fff;
    flex-basis: 30%;
}
.block_mono{
    border: 0px solid#fff;
    flex-basis: 70%;

}
.block_item{
    background-color: #fff;
    padding: 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.block_text{
    background-color: #e8e8e8;
    padding: 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.footer {
    padding: 40px calc(20% - 500px);
    display: flex;
    align-items: left;
}
.END{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.8em;
    font-weight:650;
    color: rgb(56, 56, 56);
    text-align:left;
    background-color: #fff;
    display: flex;
    align-items: left;
}

